body {
    margin: 0 auto;
    padding: 10px;
    background-color: black;
    width: 400px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

h1 {
    text-align: center;
}

input {
    margin: 0;
    margin-bottom: 25px; 
    box-sizing: border-box;
    width: 350px;
    height: 35px;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    font-size: small;   
    padding: 5px; 
}

button {
    color: white;
    width: 100px;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: small;
    margin-right: 10px;
    margin-bottom: 25px;
}

li { 
    gap: 10px; 
    padding: 10px; 
    display: grid;
    grid-template-columns: 1fr 20px;
}

ul {
    color: white;
    font-size: small;
    list-style-type: none; 
    padding: 0; 
}


li:last-child {
    border-bottom: none; 
}

.task-checkbox {
    width: 20px;
    height: 20px; 
    accent-color: purple;
    align-self: center;
}

.container {
    width: 350px;
}

.task-text {
    word-break: break-word;
}

.completed .task-text {
    text-decoration: line-through;
    color: #888;
}
